.button {
    padding: var(--button-padding-v) var(--button-padding-h);
    background: $primary;
    color: $white;
    cursor: pointer;
    border-radius: var(--radius);
    height: fit-content;

    &:disabled {
        background: $disabled;
        opacity: 0.3;
        cursor: not-allowed;
    }

    &:hover:not(:disabled) {
        background: lighten($primary, 10%);
    }
}