.button {
    display: flex;
    align-items: center;
    padding: var(--button-padding-v) var(--button-padding-h);
    background: var(--button-background);
    color: var(--button-font);
    cursor: pointer;
    border-radius: var(--radius);
    height: fit-content;
    width: fit-content;
    transition: all 0.2s;

    &:disabled {
        &:not(.button--transparent) {
            background: var(--disabled);
            opacity: 0.3;
            cursor: not-allowed;
        }
    }

    &:hover:not(:disabled) {
        background: var(--button-background-hover);
    }

    &--transparent {
        background: transparent;
        color: var(--button-background);

        &:hover:not(:disabled) {
            background: initial;
            color: var(--button-background-hover);
        }

        &:disabled {
            color: var(--disabled);
            opacity: 0.3;
            cursor: not-allowed;
        }
    }
}