.entry {
    padding: 40px 20px;
    width: 100%;

    &:not(:first-child) {
        border-top: solid 1px lighten($marine, 10%);
    }

    &__graph {
        position: relative; // For tooltip
        margin-bottom: 20px;
    }

    &__footer {
        & > *:not(:first-child) {
            margin-top: 20px;
        }
    }
}