.entry {
    padding: 40px 20px;
    width: 100%;
    margin-bottom: 100px; // Because summary entry is too small for header tab to be active. If it becomes bigger, use below & ~ & rule

    // & ~ & {
    //     margin-top: 100px;
    // }

    &__graph {
        position: relative; // For tooltip
        margin: auto;
        margin-bottom: 20px;
        max-width: 1000px;

        &--small {
            max-width: 300px;
        }

        &--big {
            max-width: 1600px;
        }
    }

    &__footer {
        display: flex;
        flex-direction: column;
        align-items: center;

        & > *:not(:first-child) {
            margin-top: 20px;
        }
    }
}
