.fieldset {
    border-color: var(--secondary);
    border-radius: var(--radius);
    padding: 20px;

    &--overflow {
        margin-left: -25px;
        margin-right: -25px;
    }

    &__legend {
        color: var(--secondary);
    }
}
