.input {
    padding: var(--button-padding-v) var(--button-padding-h);
    background: var(--input-background);
    border: solid 1px var(--tertiary);
    border-top-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
    transition: all 0.2s;

    &:focus {
        border: solid 1px var(--tertiary);
    }

    &:hover {
        background: var(--input-background-hover);
    }

    &--file {
        display: none;
    }
    
    &--pure {
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        &[type=number] {
            -moz-appearance: textfield;
        }
    }
}
