:root {
    --marine: #1a2536;
    --marine-dark: #131c28;
    --marine-light: #2b3d58;
    --marine-ultralight: #3b547b;
    --cyan: #42ccee;
    --blue: #468df3;
    --blue-light: #6ca5f6;
    --pink: #c7489b;
    --pink-light: #e765ba;
    --pink-ultralight: #ffc0ec;
    --orange: #ffa90a;
    --green: #1dca79;
    --green-dark: #20a466;
    --green-light: #38e292;
    --green-ultralight: #42ef9e;
    --white-light: #fefeff;
    --white: #fffffd;
    --white-dark: #fefefd;
    --white-ultradark: #dfdfde;
    --grey: #cecece;
    --grey-dark: #bcbcbc;
    --grey-ultradark: #aaaaaa;

    --primary: var(--green);
    --primary-light: var(--green-light);
    --secondary: var(--cyan);
    --tertiary: var(--blue);

    --background: var(--marine);
    --background-dark: var(--marine-dark);
    --background-light: var(--marine-light);
    --background-ultralight: var(--marine-ultralight);
    --font: var(--white);
    --font-helper: var(--grey-ultradark);

    --button-background: var(--primary);
    --button-background-hover: var(--primary-light);
    --button-font: var(--white);
    --chart: var(--tertiary);
    --input-background: var(--background-light);
    --input-background-hover: var(--background-ultralight);
    --link: var(--tertiary);
    --tab-background-active: var(--background-ultralight);
    --tab-background-hover: var(--background);
    --tab-font-active: var(--font);

    --alert: var(--pink);
    --disabled: var(--grey);
}

.light {
    --primary: var(--blue);
    --primary-light: var(--blue);
    --secondary: var(--blue);
    --tertiary: var(--blue);

    --background: var(--white);
    --background-dark: var(--white-dark);
    --background-light: var(--white);
    --background-ultralight: var(--grey);
    --font: var(--grey-ultradark);
    --font-helper: var(--grey-dark);

    --button-background: var(--blue);
    --button-background-hover: var(--blue-light);
    --chart: var(--grey-ultradark);
    --input-background: var(--white-ultradark);
    --input-background-hover: var(--grey);
    --tab-background-active: var(--blue);
    --tab-background-hover: var(--blue-light);
    --tab-font-active: var(--white);

    --disabled: var(--grey-ultradark);
}
