$marine: #1a2536;
$turquoise: #39dbc4;
$cyan: #42ccee;
$blue: #468df3;
$pink: #c7489b;
$green: #1dca79;
$white: #fbfbfe;
$grey: #cecece;

$primary: $green;
$secondary: $cyan;
$tertiary: $blue;

// Semantics
$alert: $pink;
$disabled: $grey;
