*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    position: relative;
    font-weight: normal;
    font-size: initial;
}

button {
    border: none;
    font-family: inherit;
}

input {
    border: none;
    font-family: inherit;

    &:focus {
        outline: none;
    }
}
